# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\starsee_project\zk-SNARK\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
